[core]
  excludesfile = ~/.gitignore_global

[user]
  name  = naotaka nakane
  email = n.nakane0219@gmail.com

[ui]
  ui = auto

[init]
  defaultBranch = main

[diff]
  indentHeuristic = true
  compactionHeuristic = true
  renames = true

[commit]
  verbose = true

[fetch]
  prune = true

[push]
  default = current

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[ghq]
  root = ~/dev/src

[alias]
  st = status
  sts = status -s
  ft = fetch
  ftp = fetch --prune
  ad = add
  c = commit
  ci = commit -a
  co = checkout
  cob = checkout -b
  br = branch
  bra = branch -a
  sw = switch
  swc = switch -c
  df = diff
  dfs = diff --staged
  graph = log --graph --date-order --date=short --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s'

